@font-face {
  font-family: "iconfont"; /* Project id 3698266 */
  src: url('iconfont.woff2?t=1667289315225') format('woff2'),
       url('iconfont.woff?t=1667289315225') format('woff'),
       url('iconfont.ttf?t=1667289315225') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowRight:before {
  content: "\e65d";
}

.icon-arrowLeft:before {
  content: "\e65e";
}

.icon-tongji:before {
  content: "\e626";
}

.icon-wxbdingwei:before {
  content: "\e624";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-file:before {
  content: "\eabe";
}

.icon-huodongzhongxin:before {
  content: "\e62a";
}

.icon-wodehuodong:before {
  content: "\e9aa";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-caozuorizhi:before {
  content: "\e668";
}

.icon-shanchu:before {
  content: "\e718";
}

.icon-qiyexinxi:before {
  content: "\e61b";
}

.icon-tonggao:before {
  content: "\e6cb";
}

.icon-icon_xinyong_xianxing_jijin-206:before {
  content: "\e65b";
}

